bias_data filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC/biased.word.train filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC/neutral filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC/revision_topics.csv filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC/biased.full filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC/biased.word.dev filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC/biased.word.test filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples/ibc_right filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples/news_left filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples/news_right filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples/news_sensationalist_dramatic filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples/speeches filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples/ibc_left filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/real_world_samples filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/README filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/WNC filter=lfs diff=lfs merge=lfs -text
bias_data/bias_data/bert.vocab filter=lfs diff=lfs merge=lfs -text
